body {
    background-image: url("Store-BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
}

.form-content {
    padding: 60px;
    opacity: .95;
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    border: ridge 5px white;
}

.center-content {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}